//textColors
$textColor_main: #000000;
$textColor_inactive: #9e9e9e;
$textColor_active: #090f31;
$textColor_titles: #4f4f4f;
$textColor_button_solid: #ffff;

//button_colors
$primary: #3d5afe;
$default: #e0e0e0;
$secondary: #455a64;
$danger: #d32f2f;

//button_colors_hover
$primary_hover: #0039cb;
$default_hover: #aeaeae;
$secondary_hover: #1c313a;
$danger_hover: #9a0007;
$button_hover_background: hsla(224, 100%, 58%, 0.1);

//navBg
$navBg: #fafbfd;

//extras
$brandLogoColor: #f7542e;
