@import "colors";

.designer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  h4 {
    margin: 0;
    margin-bottom: 15px;
  }
}
.properties {
  width: 100%;
  padding: 1em 0;
}
.separator {
  height: 2px;
  background-color: $secondary;
}
.result {
  width: 100%;
  padding: 1em 0;
}
.grouped {
  display: flex;
  justify-content: space-between;
  label {
    width: 50%;
  }
}
.checkbox {
  display: flex;
  flex-direction: row !important;
  align-items: center !important;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  h5 {
    margin: 0;
    font-weight: 100;
  }
  input,
  select {
    margin: 0;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
  }
  input[type="text"],
  select {
    border-radius: 6px;
    font-weight: 100;
    border: solid 1px;
    align-self: stretch;
    padding: 0.5em 0.15em;
  }
}

.resultItems {
  display: flex;
  height: 80%;
  justify-content: space-between;
  flex-direction: column;
}
.codeArea {
  display: flex;
  flex-direction: column;
  code {
    border: solid 1px $secondary;
    padding: 1em;
    width: 80%;
    border-radius: 6px;
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) {
  .designer {
    flex-direction: row;
    width: 80%;
  }
  .properties {
    width: 40%;
  }
  .result {
    width: 50%;
  }
  .separator {
    width: 2px;
    height: auto;
  }
}
