@import "colors";
.main {
  display: flex;
  min-height: 100vh;
}
.nav {
  width: 28vw;
  display: flex;
  background-color: $navBg;
  padding: 1.2em;
  flex-direction: column;
}
.content {
  padding: 1em;
}
.logo {
  font-family: "Fira Code", monospace;
  font-size: 1rem;
}
.logo-span {
  color: $brandLogoColor;
}
.items {
  top: 50%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  .item {
    list-style-type: none;
    margin-top: 2.5em;
  }
  .item:hover {
    cursor: pointer;
  }
  .item_active {
    color: $textColor_active;
    font-weight: bold;
  }
  .item_inactive {
    color: $textColor_inactive;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    width: 18vw;
    max-width: 150px;
  }
  .content {
    padding: 1em 2em;
  }
  .logo {
    font-size: 1.2rem;
  }
}
